
  <title>Setting</title>


  <link rel="stylesheet" href="css/profile_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>

  <h2 style="text-align:center;margin-top:50px;">User Profile</h2>

  <div style="text-align:center;margin-top:50px;" class='card'><img src='https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png' style='width:100%'>
    Email <p class='title' id="email">{{ user.email }}</p>
    Name <input typy='text'ng-model="name" placeholder='{{ user.name }}'>
    Password <input  type="password" ng-model="password"  placeholder='{{ user.password }} '>
   <p>
     <div >
<a href="javascript:history.go(-1)"> <div id="points">
  <i class="fa fa-arrow-circle-left" style="font-size: 24px;" aria-hidden="true"></i>
</a>
</div>
</div>
     <button  ng-click="update()">Save</button></p></div>
