<div class="container" style="margin-top:10%;">
<div class="box"></div>
<div class="container-forms">
  <div class="container-info">
    <div class="info-item">
      <div class="table">
        <div class="table-cell">
          <p>
            Have an account?
          </p>
          <div class="btn">
            Log in
          </div>
        </div>
      </div>
    </div>
    <div class="info-item">
      <div class="table">
        <div class="table-cell">
          <p>
            Don't have an account?
          </p>
          <div class="btn">
            Sign up
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-form">
    <div class="form-item log-in">
      <div class="table">
        <div class="table-cell">

<form name="form" ng-submit="login()" role="form">
  <h2 style="text-align:center;">Welcome to News Blog</h2>
        <input type="email" name="email" id="email" placeholder="Email"  ng-model="email" required />
        <input type="password" name="password" id="password"  ng-model="password" placeholder="Password" required maxlength="20" minlength="8" />
        <img ng-if="dataLoading" style="margin: 0% 50% !important;" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        <button type="submit" style="margin: 10% 35%;width: 101px;"  >Login</button>
</form>
<div class="tooltip"><img style="margin-bottom:-145%;margin-right: 5px;" src="https://cdn2.iconfinder.com/data/icons/snipicons/500/info-sign-32.png" />
  <span class="tooltiptext">
    Default<br />
    Email: admin@admin.com<br />
    Password: password</span>
    </div>
        </div>
      </div>
    </div>
    <div class="form-item sign-up">
      <div class="table">
        <div class="table-cell">
          <form  name="registerForm" role="registration" ng-submit="register()" >
            <h2 style="text-align:center;">Sign up</h2>
          <input name="name" placeholder="Full Name" ng-model="reg_name" required type="text" />
          <input type="email" name="email" id="email" placeholder="Email"  ng-model="reg_email" required />
          <input type="password" name="password" id="password"  ng-model="reg_password" placeholder="Password" required maxlength="20" minlength="8" />
          <button type="submit" style="margin: 10% 35%;width: 101px;" >Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script  src="js/index.js"></script>
